<div class="container login-page">

  <div class="form　col-md-4 login-form form-horizontal offset-md-6">
    <h3>Login</h3>
    <div class="form-group">
      <input class="form-control" placeholder="用户名" [(ngModel)]="userName" />
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="密码" [(ngModel)]="password" />
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="验证码" [(ngModel)]="validCode" />
    </div>
    <div class="row">
      <div class="col-md-5">
        <button class="btn btn-primary" (click)="login()">Login</button>
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="hide()">Reset</button>
      </div>
    </div>
  </div>
</div>