body{
    background-color: #444  !important;
}

.login-page {
    background: url("../../assets/img/login_bg.jpg") ;
    background-size: 100% 100%;
    animation-name: login-animation;
    animation-delay: 3;
    animation-duration: 6;
    animation-iteration-count: infinite;    
    animation-play-state: running;
    height: 100%;
    width: 100%;
}

@keyframes login-animation{
    0% {background: url("../../assets/img/login_bg1.jpg")};
    50% {background: url("../../assets/img/login_bg.jpg")};
    100% {background: url("../../assets/img/login_bg1.jpg")};
}
.login-form{
    position: absolute;
    top: 30%;
    max-width: 330px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: rgba(5, gr5een, 5, 0.4)
}

h3 {
    font-size: 2em;
    color: white;
}