<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div>
      <app-topbar></app-topbar>
  </div>
 
<div >
  <app-leftmenu></app-leftmenu>
  <ul>
      <li>
        <i class="fas fa-home menu-icon" ></i>
        <h2><a target="_blank" rel="noopener" href="login">Login</a></h2>
      </li>
      <li>
          <i class="fab fa-camera menu-icon"></i>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
      </li>
    </ul>
</div>
<div>
    <router-outlet></router-outlet>
</div>
</div>
